 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 593px;
}

.u-section-1 .u-group-1 {
  width: 775px;
  height: auto;
  --radius: 15px;
  min-height: 450px;
  margin: 86px auto 57px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 51px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  box-shadow: 0px 2px 4px 1px rgba(51,51,51,0.77);
  --radius: 7px;
  font-weight: 700;
  border-style: solid;
  font-size: 1rem;
  margin: 38px auto 0;
  padding: 23px 244px 24px 243px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  box-shadow: 0px 2px 4px 1px rgba(51,51,51,0.77);
  --radius: 7px;
  font-weight: 700;
  border-style: solid;
  font-size: 1rem;
  margin: 27px auto 0;
  padding: 24px 271px 24px 270px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  box-shadow: 0px 2px 4px 1px rgba(51,51,51,0.77);
  --radius: 7px;
  font-weight: 700;
  border-style: solid;
  font-size: 1rem;
  margin: 27px auto 0;
  padding: 24px 270px 24px 269px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    min-height: 461px;
    margin-top: 83px;
    margin-bottom: 49px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-1 .u-group-1 {
    min-height: 397px;
    width: 495px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 38px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.875rem;
    margin-top: 54px;
    padding: 13px 141px 15px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.875rem;
    margin-top: 25px;
    padding: 13px 164px 14px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.875rem;
    margin-top: 26px;
    padding: 14px 164px 14px 162px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-1 .u-group-1 {
    min-height: 363px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 29px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 38px;
    padding: 10px 82px 11px 81px;
  }

  .u-section-1 .u-btn-2 {
    padding: 10px 104px 11px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 27px;
    padding: 10px 103px 11px;
  }
}